{% extends "SIPResourceBundle::layout.html.twig" %}
{% block metatags %}
    {% set meta = get_meta_data('main') %}
    {% if meta %}
        {% if meta.metaTitle %}<title>{{ meta.metaTitle }}</title>{% endif %}
        {% if meta.metaKeywords %}<meta content="{{ meta.metaKeywords }}" name="keywords">{% endif %}
        {% if meta.metaDescription %}<meta content="{{ meta.metaDescription }}" name="description">{% endif %}
    {% endif %}
{% endblock %}
{% block content %}
{% endblock %}